---
import Main from "../../layouts/Main.astro";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import PageCard from "../../components/PageCard.astro";

import type { PostFrontmatter } from "../../content/config";

const posts = await Astro.glob<PostFrontmatter>("../../content/posts/*.mdx");
---

<Layout title="Recursos y guías">
    <Main customClasses="">
        <Header />

        <article class="flex flex-col gap-8">
            <h1
                class="text-3xl md:text-4xl mt-4 mb-4 md:mb-0 md:mt-0 font-bold"
            >
                Recursos y guías
            </h1>
        </article>

        <article class="grid md:grid-cols-2 grid-cols-1 gap-4 md:-mt-4">
            {
                posts.map((post) => {
                    return (
                        <PageCard
                            pageName={post.frontmatter.title}
                            url={`recursos/${post.frontmatter.slug}`}
                            imgSrc={post.frontmatter.image}
                            desc={post.frontmatter.description}
                        />
                    );
                })
            }
        </article>

        <Footer />
    </Main>
</Layout>
