<div class="w-4/5 flex flex-col gap-4">
    <h4 class="text-2xl font-semibold">Sobre mí</h4>
    <p>
        Soy un estudiante de segundo año de ingeniería civil en informática de
        la Universidad Católica de Temuco (UCT). Estoy entusiasmado con el
        desarrollo web y cada día me esfuerzo por aprender nuevas tecnologías,
        así como mejorar las que ya domino.
    </p>
</div>
