---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - URL inválida">
    <main class="h-screen flex flex-col items-center justify-center gap-8">
        <h1 class="text-5xl font-bold">404</h1>

        <h2 class="text-2xl font-bold">
            La página a la que intentas acceder no existe.
        </h2>
    </main>
</Layout>
