---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - URL inválida">
    <main class="h-screen flex items-center justify-center">
        <h1 class="text-4xl font-bold">
            404 - La página a la que intentas acceder no existe
        </h1>
    </main>
</Layout>
