---
import Layout from "../layouts/Layout.astro";
import Main from "../layouts/Main.astro";
import Pages from "../components/home/Pages.astro";

import Info from "../components/home/Info.astro";
import Contact from "../components/home/Contact.astro";
---

<Layout title="Luciano Revillod">
	<Main
		customClasses="h-60 md:flex-row items-center justify-start mt-24 md:mt-0 md:justify-center"
	>
		<Info />
	</Main>

	<Main
		customClasses="h-3/4 mt-96 mb-8 items-center gap-8 justify-center md:m-0"
	>
		<Pages />
	</Main>

	<Main customClasses="h-40 items-center gap-8 justify-center">
		<Contact />
	</Main>
</Layout>
