---
import Layout from "../layouts/Layout.astro";
import Main from "../layouts/Main.astro";
import Pages from "../components/home/Pages.astro";

import Info from "../components/home/Info.astro";
---

<Layout title="Luciano Revillod">
	<Main
		class:list={"md:flex-row md:justify-center md:mt-40 flex-col justify-start"}
	>
		<Info />
	</Main>

	<Main class:list={"mt-48 flex-col justify-center"}>
		<Pages />
	</Main>
</Layout>
