---
import Layout from "../layouts/Layout.astro";
import Pages from "../components/home/Pages.astro";

import Info from "../components/home/Info.astro";
import Contact from "../components/home/Contact.astro";
---

<Layout title="Luciano Revillod">
	<main
		class="md:h-screen h-60 w-10/12 md:w-8/12 flex flex-col md:flex-row md:items-center justify-start mt-24 md:mt-0 md:justify-center relative"
	>
		<Info />
	</main>

	<main
		class="h-3/4 md:mb-8 md:mt-0 mt-96 mb-8 md:h-screen md:w-8/12 w-10/12 flex flex-col items-center gap-8 justify-center relative"
	>
		<Pages />
	</main>

	<main
		class="md:h-screen h-40 w-8/12 flex flex-col items-center gap-8 justify-center relative"
	>
		<Contact />
	</main>
</Layout>
