---
import ContactIcon from "./ContactIcon.astro";
---

<h1 class="text-4xl md:text-7xl font-bold">Contacto</h1>
<section class="flex flex-row gap-10">
    <ContactIcon
        iconClass="ti ti-brand-linkedin"
        ref="https://www.linkedin.com/in/luciano-revillod-dev/"
    />

    <ContactIcon iconClass="ti ti-brand-discord" ref="" />
    <ContactIcon ref="/contacto" iconClass="ti ti-mail" />

    <ContactIcon
        ref="https://instagram.com/"
        iconClass="ti ti-brand-instagram"
    />
</section>
