<div class="md:flex md:flex-row grid grid-cols-5 p-2 md:p-0 grid-rows-3 gap-6">
    <i class="text-xl devicon-html5-plain"></i>
    <i class="text-xl devicon-css3-plain"></i>
    <i class="text-xl devicon-javascript-plain"></i>
    <i class="text-xl devicon-nodejs-plain"></i>
    <i class="text-xl devicon-express-original"></i>
    <i class="text-xl devicon-socketio-original"></i>
    <i class="text-xl devicon-tailwindcss-plain"></i>
    <i class="text-xl devicon-cplusplus-plain"></i>
    <i class="text-xl devicon-python-plain"></i>
    <i class="text-xl devicon-git-plain"></i>
    <i class="text-xl devicon-github-original"></i>
    <i class="text-xl devicon-mongodb-plain"></i>
    <i class="text-xl devicon-linux-plain"></i>
    <i class="text-xl devicon-vim-plain"></i>
    <i class="text-xl devicon-docker-plain"></i>
</div>
