---
import ScrollButton from "./ScrollButton.tsx";
---

<>
    <h1 class="hidden md:block md:text-7xl text-2xl font-bold">Contacto</h1>
    <section class="flex flex-row gap-8 items-center justify-center">
        <a href="https://www.linkedin.com/in/luciano-revillod-dev/">
            <img
                width="38"
                height="38"
                src="https://img.icons8.com/ios-filled/F5F5F5/linkedin.png"
                alt="linkedin"
            />
        </a>

        <a href="">
            <img
                width="32"
                height="32"
                src="https://img.icons8.com/external-tal-revivo-bold-tal-revivo/F5F5F5/external-discord-chat-for-social-gaming-between-peers-logo-bold-tal-revivo.png"
                alt="external-discord-chat-for-social-gaming-between-peers-logo-bold-tal-revivo"
            />
        </a>

        <a href="/contacto">
            <img
                width="39"
                height="39"
                src="https://img.icons8.com/ios-filled/F5F5F5/message-squared.png"
                alt="message-squared"
            />
        </a>

        <a href="">
            <img
                width="33"
                height="33"
                src="https://img.icons8.com/external-tal-revivo-bold-tal-revivo/F5F5F5/external-instagram-a-popular-social-networking-service-with-magic-filters-logo-bold-tal-revivo.png"
                alt="external-instagram-a-popular-social-networking-service-with-magic-filters-logo-bold-tal-revivo"
            />
        </a>
    </section>

    <ScrollButton
        client:visible
        screenY={2}
        customClass={"bottom-8"}
        path={"M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18"}
    />
</>
