<footer
    class="flex flex-row rounded-t-md h-20 items-center justify-between pl-4 pr-4 bg-neutral-800 text-sm"
>
    <p>Luciano Revillod Jeréz</p>

    <p class="flex md:hidden">{new Date().getFullYear()}</p>
    <p class="hidden md:flex">
        Todos los derechos reservados {new Date().getFullYear()}
    </p>
</footer>
