<header class="w-full flex flex-row justify-between items-center">
    <a class="flex items-start justify-start -m-1" href="/">
        <img src="/favicon.png" alt="terminal-icon" class="w-3/4" />
    </a>

    <nav class="flex flex-row gap-4">
        <a href="/contacto" class="hover:underline">Contacto</a>
        <a href="/recursos" class="hover:underline">Recursos</a>
    </nav>
</header>
