<div class="flex flex-row gap-6">
    <i class="text-xl devicon-html5-plain"></i>
    <i class="text-xl devicon-css3-plain"></i>
    <i class="text-xl devicon-tailwindcss-plain"></i>
    <i class="text-xl devicon-nodejs-plain"></i>
    <i class="text-xl devicon-javascript-plain"></i>
    <i class="text-xl devicon-cplusplus-plain"></i>
    <i class="text-xl devicon-express-original"></i>
    <i class="text-xl devicon-git-plain"></i>
    <i class="text-xl devicon-github-original"></i>
    <i class="text-xl devicon-mongodb-plain"></i>
    <i class="text-xl devicon-linux-plain"></i>
    <i class="text-xl devicon-socketio-original"></i>
    <i class="text-xl devicon-vim-plain"></i>
    <i class="text-xl devicon-python-plain"></i>
</div>
