<article class="flex flex-row gap-12 w-full justify-between items-center">
    <section class="lg:w-4/6 w-full h-full flex flex-col justify-center gap-10">
        <h1 class="text-3xl md:text-4xl mt-4 mb-4 md:mb-0 md:mt-0 font-bold">
            Luciano Revillod Jeréz.
        </h1>

        <div
            class="flex flex-col items-center justify-center w-full gap-12 md:gap-8"
        >
            <div class="w-full flex flex-col gap-4">
                <h4 class="text-xl font-semibold">Sobre mí</h4>
                <p>
                    Soy un estudiante de segundo año de ingeniería civil en
                    informática de la Universidad Católica de Temuco, Chile.
                    Estoy entusiasmado con el desarrollo web backend y cada día
                    me esfuerzo por aprender nuevas tecnologías, así como
                    mejorar las que ya domino.
                </p>
            </div>
            <div
                class="md:flex w-full md:flex-row md:items-start md:justify-start grid grid-cols-5 place-items-center place-content-center grid-rows-2 gap-6"
            >
                <i class="text-xl devicon-html5-plain"></i>
                <i class="text-xl devicon-css3-plain"></i>
                <i class="text-xl devicon-javascript-plain"></i>
                <i class="text-xl devicon-nodejs-plain"></i>
                <i class="text-xl devicon-express-original"></i>
                <i class="text-xl devicon-socketio-original"></i>
                <i class="text-xl devicon-tailwindcss-plain"></i>
                <i class="text-xl devicon-mongodb-plain"></i>
                <i class="text-xl devicon-linux-plain"></i>
                <i class="text-xl devicon-docker-plain"></i>
            </div>
        </div>

        <div
            class="flex flex-row gap-4 mb-4 md:mb-0 md:justify-start justify-between"
        >
            <a
                class="flex flex-row gap-2 w-1/2 md:min-w-fit md:w-1/5 pt-2 pb-2 pr-4 pl-4 bg-custom-blue rounded-lg font-semibold"
                href="https://www.linkedin.com"
            >
                <img
                    width="25"
                    height="15"
                    src="https://img.icons8.com/ios-filled/F5F5F5/linkedin.png"
                    class="-ml-2"
                    alt="linkedin"
                />
                <p class="font-semibold">LinkedIn</p>
            </a>

            <a
                class="flex flex-row gap-2 w-1/2 md:min-w-fit md:w-1/5 pt-2 pb-2 pr-4 pl-4 bg-custom-blue rounded-lg font-semibold"
                href="https://github.com/MrRevillod"
            >
                <img
                    width="25"
                    height="15"
                    src="https://img.icons8.com/ios-filled/F5F5F5/github.png"
                    class="-ml-2"
                    alt="github"
                />
                <p class="font-semibold">Github</p>
            </a>
        </div>
    </section>

    <section
        class="md:w-2/6 md:h-full md:flex items-center justify-end hidden rounded-xl"
    >
        <img
            id="main_image"
            src="/image.png"
            alt="main-picture"
            class="md:hidden lg:h-3/4 lg:block rounded-md hidden"
        />

        <img
            id="main_image"
            src="/main-picture.webp"
            alt="main-picture"
            class="md:h-5/6 md:block lg:hidden rounded-md hidden"
        />
    </section>
</article>
