---
import PageCard from "../components/PageCard.astro";
---

<section class="grid grid-cols-2 grid-rows-2 gap-6">
    <PageCard
        pageName="SmartParking"
        imgSrc="/code.png"
        url="/"
        desc="Aplicación de administración y manejo de estacionamientos en tiempo real."
    />

    <PageCard
        pageName="One Dark Minimal"
        imgSrc="/code.png"
        url="/"
        desc="Tema basado en One Dark Pro con un enfoque minimalista y limpio."
    />

    <PageCard
        pageName="Perfíl de Github"
        imgSrc="/code.png"
        url="/"
        desc="Aquí encontrarás repositorios y mi trabajo en proyectos de interés."
    />

    <PageCard
        pageName="Utilidades"
        imgSrc="/code.png"
        url="/"
        desc="Articulos, guías y más."
    />
</section>
