---
import "./globals.css";

import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<style is:inline>
	.body,
	html {
		background: radial-gradient(
			ellipse at center,
			#0a0a0a 0%,
			#0a0a0a 35%,
			#0f1621 65%,
			#17202a 100%
		);
	}
</style>

<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Portfolio de Luciano Revillod Jeréz, estudiante de ingeniería civil informática."
		/>
		<meta
			name="theme-color"
			content="#17202a"
			media="(prefers-color-scheme: dark)"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" color="#18181b" />

		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"
		/>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
			rel="stylesheet"
		/>

		<ViewTransitions />
		<title>{title}</title>
	</head>
	<body
		class="body font-inter flex flex-col justify-center items-center text-white bg-neutral-900"
	>
		<slot />
	</body>
</html>
