---
interface Props {
    customClasses?: string;
}

const { customClasses } = Astro.props;
---

<main
    class=`flex flex-col w-11/12 px-2 lg:px-0 lg:w-7/12 pt-10 gap-10 md:gap-12 lg:gap-16 ${customClasses}`
>
    <slot />
</main>
