---
import Layout from "../../layouts/Layout.astro";
import ProjectImage from "../../components/ProjectImage";
import ProjectHeader from "../../components/ProjectHeader.astro";
import ProjectGridImages from "../../components/ProjectGridImages.astro";

import { authenticatorIcons } from "../../utils/icons";
---

<Layout title="Authenticator">
    <main
        class="w-11/12 md:w-10/12 lg:w-7/12 h-screen flex flex-col justify-center gap-4 md:gap-8 pt-8 md:p-0"
    >
        <ProjectHeader
            devIcons={authenticatorIcons}
            projectName="Authenticator"
            projectHref="https://github.com/MrRevillod/Authenticator"
        />

        <ProjectGridImages
            first_image="/images/authenticator-arq.png"
            second_image="/images/authenticator.png"
            third_image="/images/react-code.webp"
            customClasses="hidden md:grid"
        />

        <ProjectImage
            image="/images/authenticator-arq.png"
            customClasses="md:hidden mt-4"
        />

        <p class="text-lg mt-4">
            Authenticator es una aplicación modelo de autenticación y gestión de
            usuarios. Ha sido desarrollada con el fin de ser utilizada como base
            para el desarrollo de aplicaciones fullstack que requieran
            eficiencia del lado del servidor. El stack de desarrollo consiste en
            React del lado del cliente y de Rust del lado del servidor,
            añadiendo servicios de correo electrónico en NodeJS.
        </p>
    </main>
</Layout>
