---
import Layout from "../../layouts/Layout.astro";
import ProjectImage from "../../components/ProjectImage.tsx";
---

<style>
    .link::after {
        content: "\1F517";
        font-size: 1.2rem;
        margin-left: 0.5rem;
    }

    .grid-cont-2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2;
        gap: 1rem;
    }
</style>

<Layout title="Proyectos">
    <main
        class="w-11/12 md:w-10/12 lg:w-7/12 h-screen flex flex-col justify-center gap-8 pt-8 md:p-0"
    >
        <article>
            <a
                href="https://github.com/MrRevillod/SmartParking"
                class="hover:underline link text-3xl md:hidden flex font-bold"
                target="_blank">Smart Parking</a
            >
        </article>

        <article
            class="w-full flex-row gap-4 items-center justify-between flex"
        >
            <section class="hidden md:flex flex-row gap-4 items-center">
                <a
                    href="/"
                    class="h-8 w-8 rounded-full bg-white text-black text-center flex items-center justify-center font-bold"
                >
                    {"<-"}</a
                >
                <p class="font-semibold">Volver</p>
            </section>

            <section class="flex flex-row gap-6">
                <i class="text-xl devicon-react-original"></i>
                <i class="text-xl devicon-bootstrap-plain"></i>
                <i class="text-xl devicon-nodejs-plain"></i>
                <i class="text-xl devicon-express-original"></i>
                <i class="text-xl devicon-socketio-original"></i>
                <i class="text-xl devicon-mongodb-plain"></i>
                <i class="text-xl devicon-docker-plain"></i>
            </section>
        </article>

        <article
            class="md:h-1/2 h-1/3 grid md:grid-cols-2fr-1fr md:grid-rows-1 grid-cols-1 grid-rows-1 gap-4"
        >
            <section
                class="bg-custom-blue min-h-full rounded-md md:block hidden"
            >
                <ProjectImage
                    client:visible
                    transition:persist
                    image="/smartparking/admin-1.webp"
                    customClasses={"h-full w-full"}
                />
            </section>
            <section
                class="min-h-full grid grid-cols-2 grid-rows-1 gap-4 md:grid-cols-1 md:grid-rows-2"
            >
                <div
                    class="bg-custom-blue h-full w-full rounded-md overflow-hidden"
                >
                    <ProjectImage
                        client:visible
                        transition:persist
                        image="/smartparking/mobile-1.webp"
                        customClasses={"w-full h-full object-cover"}
                    />
                </div>
                <div
                    class="bg-custom-blue h-full w-full rounded-md overflow-hidden"
                >
                    <ProjectImage
                        client:visible
                        transition:persist
                        image="/smartparking/mobile-2.webp"
                        customClasses={"w-full h-full object-cover"}
                    />
                </div>
            </section>
        </article>

        <article class="flex flex-col gap-4">
            <section class="flex flex-col gap-2">
                <a
                    target="_blank"
                    href="https://github.com/MrRevillod/SmartParking"
                    class="hover:underline link text-2xl font-bold hidden md:flex"
                    >Smart Parking
                </a>
                <p>
                    Smart Parking es un proyecto que busca facilitar la
                    administración y gestión de estacionamientos. Esta web
                    permite a los administradores mantenerse al tanto de lo que
                    sucede en el recinto y manejar de mejor manera el lugar.
                </p>
            </section>

            <section class="flex flex-col gap-2">
                <h2 class="text-lg font-semibold">Metodología y desarrollo</h2>
                <p>
                    Este proyecto fue desarrollado en un equipo de 5 personas
                    bajo la metodología Scrum. Dentro del equipo, me encargué de
                    la implementación del backend, tanto de la API REST,
                    auntenticación de usuarios y sistema de comunicación en
                    tiempo real con Socket.io.
                </p>
            </section>
        </article>
    </main>
</Layout>
